.CategoryBody {
  width: 1170px;
  margin: auto;
}
._18FF5W {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
._20BSvL {
  display: -ms-flexbox;
  display: flex;
}
.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
.participation._1Mq4pG {
  margin-left: 0.25rem;
}
._1Mq4pG {
  font-weight: bold;
}
.FiSW4d:first-child {
  margin-left: 0;
}
.participation {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  color: #6c738a;
  font-size: 0.75rem;
  line-height: 1.6667;
}
.FiSW4d {
  margin-left: 0.75rem;
}
.participationBody {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.M9UN8D {
  margin-top: 0.75rem;
  border-top: 1px solid #e7e8ef;
}
.categoryLanguage {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 0.375rem;
}
.categoryLanguage .language {
  color: #6c738a;
  font-size: 0.75rem;
  line-height: 1.6667;
}
.categoryNickname {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 0.375rem;
}
.categoryNickname .nickname {
  color: #6c738a;
  font-size: 0.75rem;
  line-height: 1.6667;
}

.categoryTitle .title {
  margin-bottom: 0;
  font-size: 0.875rem;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.h6,
h6 {
  font-size: 1rem;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  color: inherit;
}
.Tutoring {
  margin-top: 50px;
}
.Tutoring h2 {
  cursor: pointer;
}
.Tutoring h2:hover {
  font-size: 20px;
}
.Tutoring .CategoryShape {
  width: 18%;
  margin-top: 20px;
  margin-left: 22px;
}

.Tutoring .TutoringList {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: -20px;
  margin-left: -20px;
}

.Academy {
  margin-top: 50px;
}
.Academy .CategoryShape {
  width: 18%;
  margin-top: 20px;
  margin-left: 22px;
}

.Academy .AcademyList {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: -20px;
  margin-left: -20px;
}

.Competition {
  margin-top: 50px;
}
.Competition .CategoryShape {
  width: 18%;
  margin-top: 20px;
  margin-left: 22px;
}

.Competition .CompetitionList {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: -20px;
  margin-left: -20px;
}
*,
::after,
::before {
  box-sizing: border-box;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
  box-shadow: 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.2);
}

.CategoryShape {
  -webkit-animation-duration: 1s;
  -webkit-animation-name: _3moXoy;
  -moz-animation-duration: 1s;
  -moz-animation-name: _3moXoy;
  -o-animation-duration: 1s;
  -o-animation-name: _3moXoy;
  animation-duration: 1s;
  animation-name: _3moXoy;
  position: relative;
  padding-top: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #313338;
  cursor: pointer;
}

a {
  color: #609ae9;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.mainHeader {
  width: 1170px;
  margin: auto;
  position: relative;
}
.menuBar {
  height: 45px;
  width: 100%;
  box-sizing: border-box;
  word-break: break-all;
}
.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menuHeader {
  height: 70px;
}
.logo {
  display: flex;
  height: 70px;
  justify-content: left;
  align-items: center;
}
.logoImg {
  height: 25px;
  margin-right: 22px;
}
.menuUl {
  list-style: none;
  cursor: pointer;
}
.menuUl li {
  width: 18%;
  float: left;
  margin-right: 10px;
  transition: all 0.3s ease;
  text-align: center;
}
li:hover {
  color: #27aaff;
  transition: all 0.3s ease;
}
li > span {
  position: relative;
  font-weight: bold;
  font-size: 17px;
}

/*밑줄넣기 부분*/
li > span::after {
  content: '';
  width: 0%;
  left: 50%;
  height: 1px;
  display: block;
  position: absolute;
  margin-top: 3px;
  border-bottom: 2px solid #27aaff;
  transition: all 0.3s ease;
}
li:hover > span::after {
  content: '';
  width: 100%;
  left: 0px;
  height: 1px;
  display: block;
  position: absolute;
  margin-top: 3px;
  border-bottom: 2px solid #27aaff;
  transition: all 0.3s ease;
}
.mainHome {
  width: 100%;
  min-width: 1170px;
}
.main {
  min-height: 1100px;
  color: #333;
}
/* .mainslide {
  width: 1170px;
  margin: auto;
}
#slideBack {
  background-color: #f2f3f7;
  padding: 20px 0;
  min-height: 285px;
}
.slide {
  width: 659px;
}

ul,
li {
  list-style: none;
}
.slide {
  height: 300px;
  overflow: hidden;
  position: relative;
  margin-left: 262px;
}
.slide ul {
  width: calc(100% * 4);
  display: flex;
  transition: 1s;
}
.slide li {
  width: calc(100% / 4);
  height: 300px;
}
.slide li:nth-child(1) {
  background: #ffa;
}
.slide li:nth-child(2) {
  background: #faa;
}
.slide li:nth-child(3) {
  background: #afa;
}
.slide li:nth-child(4) {
  background: #aaf;
}
.slide input {
  display: none;
}
.slide .bullet {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.slide .bullet label {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 2px solid #666;
  display: inline-block;
  background: #fff;
  font-size: 0;
  transition: 0.5s;
  cursor: pointer;
} */
/* 슬라이드 조작 */
/* #pos1:checked ~ ul {
  margin-left: 0;
}
#pos2:checked ~ ul {
  margin-left: -100%;
}
#pos3:checked ~ ul {
  margin-left: -200%;
}
#pos4:checked ~ ul {
  margin-left: -300%;
} */

/* bullet 조작 */
/* #pos1:checked ~ .bullet label:nth-child(1),
#pos2:checked ~ .bullet label:nth-child(2),
#pos3:checked ~ .bullet label:nth-child(3),
#pos4:checked ~ .bullet label:nth-child(4) {
  background: #666;
} */

.searchTutoring {
  width: 1170px;
  position: relative;
  margin: auto;
}
.searchTutoringText {
  position: absolute;
  top: 140px;
  font-size: 20px;
}
.searchTutoringList {
  width: 443px;
  margin-top: 20px;
  margin-left: 20px;
}

.starR {
  background: url(~@img/star.png) no-repeat right 0;
  background-size: auto 60%;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-indent: -9999px;
  cursor: pointer;
  margin-top: 10px;
}

.joinBtn {
  height: 25px;
  border-radius: 3px;
  background-color: #6e7eff;
  box-shadow: 0.5px 0.5px #6e7eff;
}
.loginJoinBtn {
  float: right;
  cursor: pointer;
}
.loginJoinBtn a {
  cursor: pointer;
}
.loginBtn,
.joinBtn > a {
  color: #fff;
}
